@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box; /*so padding and border doesnt effect the width and height of the element*/
}
body {
  margin: 0;
  min-height: 100vh; /* we need to assign a height so the items knows where to center*/
  background-color: #f5f5f5;
}
.header {
  display: flex;
  margin-top: 7px;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Lobster", cursive;
  color: #e74694;
  font-size: 35px;
  margin-left: 250px;
}
canvas {
  border: 2px solid #9061f9;
  margin-top: -90px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.toolbox {
  background-color: #9061f9;
  width: 905px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  padding: 9px;
}
.toolbox > * {
  display: inline-flex; /*the container of each single item is a parent and puts the - + 20 and x horizentally aligned on one line together*/
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  color: #0694a2;
  font-family: "Lobster", cursive;
  font-size: 18px;
  cursor: pointer;
}
.toolbox > *:last-child {
  margin-left: auto;
}
